<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282570203228-nkiltmpqq8gev2vpdjm10sljh1n4crif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282570203228-nkiltmpqq8gev2vpdjm10sljh1n4crif</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>282570203228-2c95upase4rp6vtag6fp1k42ko37v2rn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3kqDRwLgY-t5C_ZXknh-k4XiYD9pd2Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>282570203228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tourish.traveller</string>
	<key>PROJECT_ID</key>
	<string>tourish-app-14eb5</string>
	<key>STORAGE_BUCKET</key>
	<string>tourish-app-14eb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282570203228:ios:30f117571c74102237c699</string>
</dict>
</plist>